<div class="row">
    <div class="col-md-6">
        <div class="card card-body">
            <h3 class="box-title m-b-0">Medico: {{ medico.nombre }}</h3>
            <p class="text-muted m-b-30 font-13"> </p>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <form #f="ngForm" ngNativeValidate (ngSubmit)="guardarMedico(f)">
                        <div class="form-group">
                            <label>Nombre medico</label>
                            <input [(ngModel)]="medico.nombre" type="text" name="nombre" class="form-control" required placeholder="Nombre del medico">
                        </div>
                        <div class="form-group">
                            <label>Hospital</label>
                            <select (change)="cambioHospital($event.target.value)" [(ngModel)]="medico.hospital" name="hospital" class="form-control" required>
                              <option value="">Seleccione un hospital</option>
                              <option *ngFor="let hospital of hospitales" [value]="hospital._id">{{hospital.nombre}}</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10"><i class="fa fa-save"></i> Guardar</button>
                        <a routerLink="/medicos" routerLinkActive="router-link-active" class="btn btn-inverse waves-effect waves-light">Cancelar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h4 class="box-title m-b-0">Hospital</h4>
                <small class="card-subtitle"> {{hospital.nombre}} </small>
                <img class="rounded img-fluid" [src]="hospital.img | imagen:'hospital'">
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h4 class="box-title m-b-0">Fotografia</h4>
                <small class="card-subtitle">  </small>
                <img (click)="cambiarFoto()" class="rounded img-fluid pointer" [src]="medico.img | imagen:'medico'">
            </div>
        </div>